/*웹폰트 나눔고딕 불러오기*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html {
	height: 100%;
	width: 100%;
}
body {
	font-family: "Nanum Gothic", sans-serif;
}

/* H1폰트 굵고 크게만들기*/
h1 {
	font-weight: bold;
	font-size: 56px;
}
h2 {
	font-size: 32px;
	line-height: 60px;
}
/*폰트컬러 흰색으로*/
.font_color_white {
	color: white;
	/*	opacity: 60%;*/
}
.div_verticla_align_middle {
	position: absolute;
	top: 27%;
	/*height: 100%;*/
	/*margin-top: -50px;	*/
}
.div_margin_auto {
	margin-left: auto;
	margin-right: auto;
}