<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>Honey Dream LAB</title>

    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"> -->
    <!-- <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-facebook.css') }}"> -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> -->

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}"/>

    <!-- <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script> -->
    <!-- <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> -->
    
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://js.pusher.com/2.2/pusher.min.js"></script>
    <script src="{{ url_for('static', filename='js/bucket.js') }}"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-social.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bucket_stylesheet.css') }}">

</head>
<body>
{% block layout %}{% endblock %}

</body>
</html>