<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Pusher Test</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>

</head>
<body>
    <div id="chat-room">

    </div>

    <div id="chat-form">
        <input type="text" id="chat_name" placeholder="이름">
        <input type="text" id="chat_msg" placeholder="할 말">
        <input type="button" id="send" value="보내기">
    </div>

    <script type="text/javascript">
    $(function() {
        var pusher = new Pusher('775a6c9c734291f6ccab');
        var channel = pusher.subscribe('test_channel_room');
        channel.bind('my_event', function(data) {
            $("#chat-room").append("<div>"
                + data.name + ": " + data.msg
                + "</div>"
                );
        });

        $("#send").click(function(){
            $.get('/send',
                {
                    name_data: $("#chat_name").val(),
                    msg_data: $("#chat_msg").val()
                },
                function(data){
                    // do nothing
                });
        });
    });
    </script>
</body>
</html>