{% extends "base.html" %}
{% block layout %}
{% include "navbar.html" %}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="cover-photo">

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-2">
            <div class="thumbnail">
                <img class="img-circle" src="/static/img/thumbnail_bee.png" width="100%" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-2">
            <div class="thumbnail">
                <img class="img-circle" src="/static/img/thumbnail_bee.png" width="100%" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-2">
            <div class="thumbnail">
                <img class="img-circle" src="/static/img/thumbnail_bee.png" width="100%" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-2">
            <div class="thumbnail">
                <img class="img-circle" src="/static/img/thumbnail_bee.png" width="100%" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-2">
            <div class="thumbnail">
                <img class="img-circle" src="/static/img/thumbnail_bee.png" width="100%" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-2">
            <div class="thumbnail">
                <img class="img-circle" src="/static/img/thumbnail_bee.png" width="100%" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container">
    <div class="row">
        <div class="col-sm-2 div-profile div_round">
            <p>profile</p>
        </div>
        <div class="col-sm-2 div-list div_round">
            <p>list</p>

        </div>
        <div class="col-sm-2 div-leader div_round">
            <p>leader</p>
        </div>
        <div class="col-sm-2 div-completed div_round">
            <p>completed</p>
        </div>
        <div class="col-sm-2 div-doing div_round">
            <p>doing</p>
        </div>
        <div class="col-sm-2 div-profile div_round">
            <p>something</p>
        </div>
    </div>
</div>


{% endblock %}