{% extends "base.html" %}
{% block layout %}
{% include "navbar.html" %}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="cover-photo">
            
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-md-offset-1 div-profile">
        <p>profile</p>

    </div>
    <div class="col-md-2 div-list">
        <p>list</p>
        
    </div>
    <div class="col-md-2 div-leader">
        <p>leader</p>
        
    </div>
    <div class="col-md-2 div-completed">
        <p>completed</p>
        
    </div>
    <div class="col-md-2 div-doing">
        <p>doing</p>
        
    </div>
</div>


{% endblock %}