{% extends "base.html" %}
{% block layout %}
<style type="text/scripts">
$(documents).ready(function(){
	$('.dropdown-toggle').dropdown()
	})

</style>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-brand">
			<a href="{{ url_for('out_home') }}">
				<span style="font-family:Helvetica;">
					<strong>
						<img src="/static/img/logo_color.png" height="100%"/>
						HoneyDreamLAB
					</strong>
				</span>
			</a>
		</div>
		<div class="btn-group pull-right">
			<a href="{{ url_for('add_bucket') }}">
				<button style="margin-top:3px; margin-bottom:3px;" type="button" class="btn btn-default btn-lg" id="nav-btn-add">
					<span class="glyphicon glyphicon-plus-sign"></span>
				</button>
			</a>
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<button style="margin-top:3px; margin-bottom:3px;" type="button" class="btn btn-default btn-lg" id="nav-btn-list">
					<span class="glyphicon glyphicon-align-justify"></span>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Make Bucket</a></li>
						<li><a href="#">Make Note</a></li>
						<li><a href="#">Settings</a></li>
						<li class="divider"></li>
						<li><a href="{{ url_for('logout') }}">Logout</a></li>
					</ul>
				</button>
			</a>
		</div>

		<div style="height: 50px; float: right;">
			{{profile_name}}님 안녕하세요
		</div>
	</div>
</nav>

<nav style="background-color: transparent;
background: transparent;" class="navbar navbar-reverse navbar-fixed-bottom">
<div class="container" >
	<div class="pull-right">
		<p class="text-right" style="color:white;">(C)2014 Friki team. All rights reserved.</p>
	</div>
</div>
</nav>
{% endblock %}
