{% extends "base.html" %}
{% block layout %}
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="col-md-3 navbar-header">
            <a class="navbar-brand" href="#">Logo</a>
        </div>
          <div class="col-md-3 navbar-header">
            <a class="navbar-brand" href="#">  </a>
        </div>
        <div class="col-md-3 navbar-header">
            <a class="navbar-brand" href="#">About</a>
        </div>
        <div class="col-md-3 navbar-header">
            <a class="navbar-brand" href="#">Sign In</a>
        </div>
      
    </div>
</nav>

{% endblock %}