{% extends "base.html" %}
{% block layout %}
{% include "navbar.html" %}
<!-- 아래의 스타일시트는 이 페이지에만 적용되는 스타일시트임 -->
<style>
body { 
	background: url('/static/img/out_home_bg_01.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
</style>
<!-- 이 페이지만 적용되는 스타일시트 종료 -->
<div class="container">
	<div class="page-header text-center text_color_white text_shadow">
		<a href="{{url_for("out_home")}}">
			<img width="150px" src="/static/img/logo_white_bee.png"/>
		</a>
		<h1>WELCOME TO HONEY DREAM LAB</h1>
		<h2>Bucket Supporter. Honey Dream Lab.</h2>
		<a class="btn btn-primary btn-lg">Let's Start</a>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-3 col-md-offser-1">
			<div class="thumbnail">
				<img src="/static/img/thumbnail_bee.png" alt="...">
				<div class="caption">
					<h3>Thumbnail label</h3>
					<p>...</p>
					<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<img src="/static/img/thumbnail_bee.png" alt="...">
				<div class="caption">
					<h3>Thumbnail label</h3>
					<p>...</p>
					<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<img src="/static/img/thumbnail_bee.png" width="100%" alt="...">
				<div class="caption">
					<h3>Thumbnail label</h3>
					<p>...</p>
					<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<img src="/static/img/thumbnail_bee.png" width="100%" alt="...">
				<div class="caption">
					<h3>Thumbnail label</h3>
					<p>...</p>
					<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}