{% extends "base.html" %}
{% block body %}
<div class="top-title">
	<p class="top-text">뭐? 한양!</p>
</div>

<hr class="hr1"></hr>

<div class="row toptable">
	<div>
		<div class="col-md-4 td1">
<!--			<div class="tdd1">	-->
				<p>졸업한양</p>
				<div>
					<div>분야별</div>
					<div>연도별</div>
				</div>
<!--		</div>	-->
		</div>
		<div class="col-md-4 td2">
<!--			<div class="tdd2">	-->
				<p>취준한양</p>
				<div>
					<div>분야별</div>
					<div>전공별</div>
				</div>
<!--		</div>	-->
		</div>
		<div class="col-md-4 td3">
<!--			<div class="tdd3">	-->
				<p>재학한양</p>
				<div>
					<div>전공별</div>
					<div>학년별</div>
				</div>
<!--		</div>	-->			
		</div>
		<div class="col-md-4 td4"></div>
	</div>
</div>

<hr class="hr2"></hr>
<hr class="hr3"></hr>
<div class="middle-div1"></div>

<div class="col-md-8 col-md-offset-1">
	<div class="rowleft">

		<div class="col1">
			<tr>
				<img class="img1" src="https://c2.staticflickr.com/6/5538/10499253804_fbdb445010_z.jpg"></img>
			</tr>
			<tr>
				<img class="img2" src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Seoul-National.Assembly-01.jpg/800px-Seoul-National.Assembly-01.jpg"></img>
			</tr>
			<tr>
				<img class="img3" src="https://c1.staticflickr.com/9/8011/7474259694_9b51fda9c6_z.jpg"></img>
			</tr>
		</div>
		<div class="middle-div2"></div>

		<tr>
			<img class="img4" src="http://upload.wikimedia.org/wikipedia/commons/e/e6/Donald_Norman_at_AWF05.jpg"></img>
		</tr>
		<tr>
			<img class="img5" src="https://farm3.staticflickr.com/2872/8946784950_fe55e2f4cf_z.jpg"></img>
		</tr>
		<tr>
			<img class="img6" src="https://c2.staticflickr.com/8/7138/7554081976_161097a769_z.jpg"></img>
		</tr>
		<div class="middle-div3"></div>

		<tr>
			<img class="img7" src="http://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Muse_2013_Stadium_Tour,_London,_Emirates_Stadium_26th_May,_Matt_Bellamy_on_Piano_1.jpg/967px-Muse_2013_Stadium_Tour,_London,_Emirates_Stadium_26th_May,_Matt_Bellamy_on_Piano_1.jpg"></img>
		</tr>
		<tr>
			<img class="img8" src="http://upload.wikimedia.org/wikipedia/commons/7/7c/Hyun-Jin_Ryu_2013.jpg"></img>
		</tr>
		<tr>
			<img class="img9" src="http://upload.wikimedia.org/wikipedia/commons/1/1f/Korail_8243.jpg"></img>
		</tr>
		<div class="middle-div4"></div>

		<div class="entire-div"></div>

	</div>
</div>

<div class="col-md-3">
	<div class="right">
		<div class="right1"><img src=""/></div>
		<div class="right2"></div>
		<div class="right3"></div>
	</div>
</div>

</div>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			
		</div>
	</div>	
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2" style="text-align:center">
			<p><strong>멘토한양</storng></p>
		</div>
	</div>
</div>

<CENTER>
<div class="centerbox">
	<BR>
	<A name="중간" class="centerlink">중간 링크 위치</A><P>
</div>
<BR>
<A href="#베스트멘토">베스트 멘토 바로가기</A><P>
<A href="#신규멘토">신규 멘토 바로가기</A><P>
<BR><BR><BR><BR>
<DL>
<DT>
	<div class="bestbox">
		<A name="베스트멘토">베스트 멘토</A>
	</div>
</DT>
<BR>
<DD>
<div class="row">
	<div class="col-md-9 col-md-offset-1 mentor_best">
		<div class="col-md-4 best1">
			<p>best 1</p>
		</div>
		<div class="col-md-4 best2">
			<p>best 2</p>
		</div>
		<div class="col-md-4 best3">
			<p>best 3</p>
		</div>
	</div>
	<div class="col-md-9 col-md-offset-1 mentor_best2">
		<div class="col-md-4 best4">
			<p>best 4</p>
		</div>
		<div class="col-md-4 best5">
			<p>best 5</p>
		</div>
		<div class="col-md-4 best6">
			<p>best 6</p>
		</div>
	</div>	
</div>
</DD>
</DL>
<A href="#중간">중간으로</A>
<BR><BR><BR><BR>
<DL>
<DT><A name="신규멘토">신규멘토</A></DT>
<DD><BR>이달의 신규 멘토는..??<BR><BR>
<a href="http://ko.wikipedia.org/wiki/%EC%B5%9C%EB%B6%88%EC%95%94">파아~ 최불암 선생님!</a>
<BR><BR>
<a href="http://ko.wikipedia.org/wiki/%EB%B0%95%EC%B0%AC%ED%98%B8">최근 은퇴하신 박찬호 선배님!</a>
<BR><BR></DD>	
<A href="#중간">중간으로</A>
</CENTER>


<div class="containter">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2>Google, Naver, Daum 검색 결과 가져오기</h2>
			<form action="search" method="GET">
				<input type="text" name="search"
				placeholder="검색어 입력">
				<input type="submit" value="Google" name="google">
				<input type="submit" value="Naver" name="naver">
				<input type="submit" value="Daum" name="daum">		
			</form>	
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2>네이버 웹툰 제목 크롤링 프로그램</h2>
			<form action="crawl" method="POST">
				<input type="text" name="crawl"
				placeholder="크롤링 할 URL 입력">
				<input type="submit" value="고고싱">		
			</form>
			{% if error %}<h3>{{error}}</h3>{% endif %}
			{% if result %}
			{% for title in result %}
			<div>{{title}}</div>
			{% endfor %}
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<fieldset>
				<legned>
					<h2>구구단을 합시다</h2>
				</legend>
				<form action="gugu" method="GET">
					<input type="text" name="dan" placeholder="Input 2~9"/>
					<input type="submit" value="gugu!"/>
				</form>
				{% if gugudan %}
				<div>
					{% for i in gugudan %}
					<p>{{ i }}</p>
					{% endfor %}
				</div>
				{% endif %}
			</fieldset>
			<!--			<div>{{get_value}}</div>	-->

			<!-- value 2를 views.py에서 받아서 for 문으로 돌려서 x1 ~ x9 출력할 것 -->
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<fieldset>
				<legned>
					<h2>계산해봐요</h2>
				</legend>
				<div>
					<form action="calc" method="post">
						<input type="text" name="x"/>
						<input type="text" name="op"/>
						<input type="text" name="y"/>
						<input type="submit" value="calc!"/>
					</form>
					{% if calcresult %}
					<div>
						<p>
							{{ calcresult }}
						</p>
					</div>
					{% endif %}
				</div>
			</fieldset>
			<!--			<div>{{get_value}}</div>	-->

			<!-- value 2를 views.py에서 받아서 for 문으로 돌려서 x1 ~ x9 출력할 것 -->
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<fieldset>
				<form action="lotto" method="get">
					<input type="submit" value="getlotto" name="getlotto"/>
				</form>
				{% if lottos %}
				<div>
					{% for i in lottos %}
					<p>
						{{ i }}
					</p>
					{% endfor %}
				</div>
				{% endif %}				
			</fieldset>
		</div>
	</div>

</div>



{% endblock %}